# This workflow runs build, lint, and tests on push and PR
name: CI
on:
  push:
  pull_request:
    branches:
      - main
concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # the Node.js versions to build on
        node-version: [18, 20, 22]
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Build project
        run: npm run build
        env:
          CI: true
      - name: Run tests
        if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
        run: npm test
